.heroContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid white; */
    background: linear-gradient(to bottom right, #1278d2, #aedff6);
}
.heroContainer1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom right, #1278d2, #83CEF2);
    align-items: center;
    /* border: 1px solid white */
}
.navbar1 {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}

.textContainer {
    text-align: center;
}

.smallScreen {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    overflow-x: scroll;
}
.back {
    margin:1em auto;
    font-family: "Inter";
    color: white;
    font-weight: 800;
  }
  .back span {
    font-size:3em;
    display:table-cell;
    padding: 0 10px;
    line-height: 100px;
    animation:float 2s infinite;
  }
  @keyframes float
   {
    0% {
      transform:translateY(0px)
    }
    50% {
      transform:translateY(-30px);
    }
    100% {
      transform:translateY(0px) 
    }
  }
  .back span:nth-child(1) {
    animation-delay:0s;
  }
  .back span:nth-child(2) {
    animation-delay:.1s;  
  }
  .back span:nth-child(3) {
    animation-delay:.2s;
  }
  .back span:nth-child(4) {
    animation-delay:.3s;  
  }
  .back span:nth-child(5) {
    animation-delay:.4s;
  }
  .back span:nth-child(6) {
    animation-delay:.5s;  
  }
  .back span:nth-child(7) {
    animation-delay:.6s;
  }
  
@media only screen and (max-width: 768px) {
    .heroContainer {
        height: 90vh;
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(to bottom right, #1278d2, #83CEF2);
    }
    .heroContainer1{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(to bottom right, #1278d2, #83CEF2);
        align-items: center;
        padding: 20px 20px 20px 20px;
    }
    .navbar1 {
        height: 10vh;
        width: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* border: 1px solid white; */
    }
    .smallScreen {
        height: 10vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        overflow-x: scroll;
    }
}